img{
    height: 15%;
    width: 15%;
}

.detail-film{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-detail{
    padding: 15px;
}

.barre-separation{
    width: 60%;
    height: 1px;
    background-color: black;
    margin: auto;
    margin-bottom: 15px;
}
